# Imports

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import statsmodels.api as sm

plt.style.use('classic')

# Funktionen

- $\chi^2/dof<1$: zu großer Fehler
- $\chi^2/dof>1$: zu kleiner Fehler
- Gleichung:
$$ \chi^2/dof = 1/(n-p) \sum_i^n (f(x_i)-y_i)^2/u_{yi}^2 $$

In [2]:
def lin_reg(x,a,b):
  y = a*x+b
  return y

def chi_sq(x,y,fx,u_y): # für 2 Fitparameter
  """
  x: x values for the x axis
  y: y values for the y axis
  fx: y values from the regression
  u_y: Unsicherheit/uncertainty from y
  """
  n = len(y)
  factor = 1/(n-2)
  return factor * np.sum((fx-y)**2/u_y**2)

def reg_wls(x,y,uy,a_round=3,b_round=3,r_round=4):
  '''
  Returning variables:
  a:    from a*x+b
  ua:   uncertainty of a
  b:    from a*x+b
  ub:   uncertainty of b
  R:    R square
  chi:  chi square
  '''
  # calculating regression
  X = sm.add_constant(x)
  model = sm.WLS(y,X,weights=uy)
  results = model.fit()
  print(results.summary())

  # Parameters
  a = round(results.params[1],a_round)
  b = round(results.params[0],b_round)
  ua = round(results.bse[1],a_round)
  ub = round(results.bse[0],b_round)
  R = round(results.rsquared,r_round)

  # lin. Reg.
  f_x = a*x+b

  # chi square
  chi = round(chi_sq(x,y,f_x,uy),3)

  return a,ua,b,ub,R,chi

def reg_ols(x,y,a_round=3,b_round=3,r_round=4):
  '''
  Returning variables:
  a:    from a*x+b
  ua:   uncertainty of a
  b:    from a*x+b
  ub:   uncertainty of b
  R:    R square
  '''
  # calculating regression
  X = sm.add_constant(x)
  model = sm.OLS(y,X)
  results = model.fit()
  print(results.summary())

  # Parameters
  a = round(results.params[1],a_round)
  b = round(results.params[0],b_round)
  ua = round(results.bse[1],a_round)
  ub = round(results.bse[0],b_round)
  R = round(results.rsquared,r_round)

  return a,ua,b,ub,R

# Data

In [4]:
path = "../Data/T7-Spezifische-Waermemenge.xlsx"
xl = pd.ExcelFile(path)
xl.sheet_names

['Adiabatischexponent', 'A2-und-A3']

In [5]:
df1 = pd.read_excel(xl,'Adiabatischexponent')
df2 = pd.read_excel(xl,'A2-und-A3')

# Aufgabe 1

In [6]:
df1.head()

,Unnamed: 0,n,h11 [cm],h12 [cm],h21 [cm],h22 [cm],h31 [cm],h32 [cm],h41 [cm],h42 [cm],h51 [cm],h52 [cm],h61 [cm],h62 [cm],h71 [cm],h72 [cm],h81 [cm],h82 [cm]
0,0,1,6.8,13.4,9.90,10.5,6.9,13.5,10.00,10.50,6.75,13.45,10.00,10.30,5.7,14.30,10.00,10.30
1,1,2,6.9,13.5,9.70,10.6,7.0,13.3,9.40,10.90,7.00,13.25,9.30,11.00,6.2,14.05,9.25,11.10
2,2,3,6.9,13.5,9.55,10.7,7.0,13.3,9.30,11.00,7.00,13.30,9.30,11.00,6.2,14.00,9.15,11.20
3,3,4,6.9,13.5,9.50,10.8,7.0,13.3,9.25,11.05,7.00,13.30,9.25,11.05,6.2,14.00,9.20,11.10
4,4,5,6.9,13.6,9.45,10.8,7.0,13.3,9.25,11.05,7.00,13.30,9.25,11.10,6.2,14.00,9.10,11.25

Funktion 15: $\kappa = \frac{h1}{h1-h2}

In [7]:
k1 = df1['h11 [cm]']/(df1['h11 [cm]']-df1['h12 [cm]'])
k1 = round(k1.mean(),2)
k1_std = k1.std()
print(f'$\kappa$: {k1}$\pm${k1_std}')
k1_std

$\kappa$: -1.04$\pm$0.0

<>:4: SyntaxWarning: invalid escape sequence '\k'
<>:4: SyntaxWarning: invalid escape sequence '\p'
<>:4: SyntaxWarning: invalid escape sequence '\k'
<>:4: SyntaxWarning: invalid escape sequence '\p'
C:\Users\benjf\AppData\Local\Temp\ipykernel_35908\3630231415.py:4: SyntaxWarning: invalid escape sequence '\k'
  print(f'$\kappa$: {k1}$\pm${k1_std}')
C:\Users\benjf\AppData\Local\Temp\ipykernel_35908\3630231415.py:4: SyntaxWarning: invalid escape sequence '\p'
  print(f'$\kappa$: {k1}$\pm${k1_std}')

np.float64(0.0)

In [10]:
k2 = df1['h21 [cm]']/(df1['h21 [cm]']-df1['h22 [cm]'])
k2 = round(k2.mean(),2)
k2_std = k2.std()
print(fr'$\kappa$: {k2}$\pm${k2_std}')
k2_std

$\kappa$: -9.98$\pm$0.0

np.float64(0.0)

In [11]:
k3 = df1['h31 [cm]']/(df1['h31 [cm]']-df1['h32 [cm]'])
k3 = round(k3.mean(),2)
k3_std = k3.std()
print(fr'$\kappa$: {k3}$\pm${k3_std}')
k3_std

$\kappa$: -1.1$\pm$0.0

np.float64(0.0)

In [12]:
k4 = df1['h41 [cm]']/(df1['h41 [cm]']-df1['h42 [cm]'])
k4 = round(k4.mean(),2)
k4_std = k4.std()
print(fr'$\kappa$: {k4}$\pm${k4_std}')
k4_std

$\kappa$: -8.4$\pm$0.0

np.float64(0.0)

In [15]:
k5 = df1['h51 [cm]']/(df1['h51 [cm]']-df1['h52 [cm]'])
k5 = round(k5.mean(),2)
k5_std = k5.std()
print(fr'$\kappa$: {k5}$\pm${k5_std}')
k5_std

$\kappa$: -1.09$\pm$0.0

np.float64(0.0)

et cetera ...

# Aufgabe 2

$$ \kappa = \frac{4Vm}{r^4pT^2} $$

In [16]:
df2.head()

,Unnamed: 0,n,T_100 (Luft) [s],T_100 (Argon) [s],info
0,0,1,57.70,53.56,T_100 meint Periodendauer für 100 Schwingungen
1,1,2,57.66,53.52,keine Abmessungen Foto nicht mehr vorhanden
2,2,3,57.66,53.54,Luftschwingungen: 70
3,3,4,57.64,53.54,Argon Schwingungen: 146
4,4,5,57.65,53.58,"Druck: 1kPa, Temperatur: 22.5°C"